.grey{ 
    background-color: #eeefef;
}

.rojos {
    color:#df161e;
}

.footer-bg { 
    background-image: url('../images/bg-footer.jpg'); 
    background-repeat: repeat; 
}

.footer-bg-bottom { 
  background-image: url('../images/DRIVETECH-footer.jpg');
  background-position: center;  
  padding-top: 25px;
}

.blancos { 
    color:#fff;
}

.nav li { 
    margin-left: 20px;
}

.headertech { 
    margin-top:15px; margin-bottom: 19px;
}

.navbar { 
    margin-bottom: 0px!important;
}

.bg-red{
 background-image: url('../images/DRIVETECH-fondo-menu.jpg');
 background-repeat: repeat-x; 
}

.navbar-inner{ border-radius:none!important; border-color: none!important;}

.m-top{ margin-top: 25px;}

.m15{ margin-left: 10px;}

.der{ text-align: right;}

.izk{ text-align: left;}

.mzero { margin-left: 0!important;}

.m10 { margin-top: 10px;}


@media (min-width: 1200px) { 

#social-width > li{width:40px!important; } 

.cont_velocidades {
    margin-top:-180px;
}

}

@media (max-width: 767px) {
.bajo-res{ padding-top: 7px;} 

 #social-width > li{width:40px!important; }

.patente-small{ margin-right: 0px!important;}

.no-float{ float: none!important;}

.cont_velocidades {
    margin-top:30px!important;
}


}

@media (min-width: 768px) and (max-width: 979px) { 
.bajo-res{ padding-top: 7px;} 

#social-width > li{width:40px!important; }

#medidores-ancho{ width: 140px!important;}

.patente-small{ margin-right: 0px!important;}

.no-float{ float: none!important;}

.cont_velocidades {
   display: block!important;
}


 }


@media (max-width: 480px) { 

 	#social-width > li{width:40px!important;  }

 	#estados{ padding:0 0 0 6%!important; }

    #medidores-ancho{ width: 140px!important;}

.cont_velocidades {
    margin-top:30px!important;
}


 }

.bg-header{
    background: -moz-linear-gradient(top,  rgba(237,237,237,0.65) 0%, rgba(237,237,237,0.64) 1%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,0.65)), color-stop(1%,rgba(237,237,237,0.64)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top,  rgba(237,237,237,0.65) 0%,rgba(237,237,237,0.64) 1%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top,  rgba(237,237,237,0.65) 0%,rgba(237,237,237,0.64) 1%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top,  rgba(237,237,237,0.65) 0%,rgba(237,237,237,0.64) 1%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom,  rgba(237,237,237,0.65) 0%,rgba(237,237,237,0.64) 1%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ededed', endColorstr='#00ffffff',GradientType=0 );

height:30px;

}


.whitespace { 
    padding: 20px 0 20px 0;
}

#whitespace-h { 
    padding: 0 15px 0 15px;
}

.whitespace-left { 
    padding-left: 3%;
}

.v-line { 
    width: 1px; height: 200px; float: left; margin-left: 7%;
}

#social-width > li {
    width:40px; 
}


#forza-li >li {
    margin-left: 0!important;
}

.white-caret {
    border-top-color: white !important;
    border-bottom-color: white !important;
}

.bg-sistema{ 
     background-image: url('../images/BG-SISTEMA.jpg'); 
     background-repeat: repeat; 
     margin-top: -19px!important;
 }

.bg-sistema-usuarios{
    background: rgb(28,28,28);
    background: -moz-linear-gradient(top,  rgba(28,28,28,1) 0%, rgba(61,61,61,1) 50%, rgba(35,35,35,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,28,28,1)), color-stop(50%,rgba(61,61,61,1)), color-stop(100%,rgba(35,35,35,1)));
    background: -webkit-linear-gradient(top,  rgba(28,28,28,1) 0%,rgba(61,61,61,1) 50%,rgba(35,35,35,1) 100%);
    background: -o-linear-gradient(top,  rgba(28,28,28,1) 0%,rgba(61,61,61,1) 50%,rgba(35,35,35,1) 100%);
    background: -ms-linear-gradient(top,  rgba(28,28,28,1) 0%,rgba(61,61,61,1) 50%,rgba(35,35,35,1) 100%);
    background: linear-gradient(to bottom,  rgba(28,28,28,1) 0%,rgba(61,61,61,1) 50%,rgba(35,35,35,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#232323',GradientType=0 );

    margin-top: -19px!important;
}

.white {
    color:#FFF!important;
}

.green-positivo {
    color:#4aa617;
}

#estados > li { 
    margin-left: 1%;
}

.borde-tech { 
    border: solid 1px #4d4e4d;
    padding: 10px 0 8px 10px; 
    height:450px; 
}

#btn-maps > li { 
    margin-right:3%;  
}

#btn-maps > li >button { 
    margin-bottom:10px!important;  
}


#velocimetro_div {
    border-left: 1px solid white;
    float: left;
    width: 55%;
}

#velocimetro {
    background: url("../images/velocimetro.png") no-repeat scroll center center transparent;
    height: 255px;
    list-style: none outside none;
    margin: 0 auto;
    width: 258px;
    background-size: 80%;
}

#aguja1 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/aguja1.png");
    background-origin: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 210px;
    width: 220px;
    z-index: 3;
    position: absolute;
    margin:20px 0 0 19px;
}

#niveles_div {
    float: left;
    min-width: 170px;
    width: 44%;
}

#nivel1 {
    background: url("../images/nivel1.png") no-repeat scroll left top transparent;
    height: 150px;
    list-style: none outside none;
    margin: 10px auto;
    width: 80px;
}

#nivel2 {
  background: url("../images/nivel2.png") no-repeat scroll left top transparent;
    height: 150px;
    list-style: none outside none;
    margin: -10px auto;
    width: 80px;
}

#aguja2 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/aguja2.png");
    background-origin: content-box;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 120px;
    margin-top: -8px;
    width: 25px;
    z-index: 3;
}

#aguja3 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/aguja2.png");
    background-origin: content-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 114px;
    margin-left: 40px;
    margin-right: 7%;
    margin-top: -8px;
    width: 25px;
    z-index: 3;
}

#combustible {
    float: left;
    margin-left: 20%;
    width: 62%;
}

#kilometraje_aceite {
    margin-top: 9px;
}

#kilometraje {
    color: white;
    float: left;
    width: 50%;
}

.cortador { 
    margin-left: 3%;
}

#anular-margin { 
    margin: 0 0 0 0!important;
}

.whitespace-diez{
    padding: 10px 0 10px 0;
} 

#bg-black{ 
    background-color: #000!important;
}

#usuario-bottom{ 
    padding-bottom: 8%;
}

.espacio-auto-all{ 
    margin: 0 2px;
}

.patente-small{ 
    margin-right: 36px;
}


.bg-grey{ 
    background-color: #c5c5c5!important;
}

.bg-white{ 
    background-color: #fff!important;
}


#cuentas-m-img {
     margin-left: 2%;
 }

.btn-busqueda-m { 
    margin-bottom: 10px; 
}

.user-dato {
     margin-top: -8px;
 }

.m1v { 
    margin-top: 13px;
}

.p-15-all{ 
    padding: 15px;
}

#control-multimedia{ 
    margin-left: 5%;
}

#m-dies-der{ 
    margin-right: 10px;
}


#edicion-bg{ 
    background: rgb(65,65,65);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(65,65,65,1) 0%, rgba(2,2,2,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(65,65,65,1)), color-stop(100%,rgba(2,2,2,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(65,65,65,1) 0%,rgba(2,2,2,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(65,65,65,1) 0%,rgba(2,2,2,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(65,65,65,1) 0%,rgba(2,2,2,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(65,65,65,1) 0%,rgba(2,2,2,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#020202',GradientType=1 );
    border-color: #535353!important;
}

.botones-media:hover{
    opacity:0.4;
    filter:alpha(opacity=40);
}


.divider-feed {
     width: 5%;
     float: left;
     margin-left: 4%;
     height: 210px;
 }

.divider-feed img { 
    height: 100%!important;
}

.alarma-off{  
    margin-left: 110px ; 
    position: relative;
}

.wrap-estados{ 
    width: 310px;
}

.cont_estados { 
    width: 169px; 
    height: 95px;
    position: absolute; 
    margin-top: 7px;
}

.alarma-active-historial {
     width: 169px; height: 48px; 
    background-image: url('../images/historial.png'); 
    background-repeat: no-repeat; 
    background-position: 70px 0px;
     -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out; 
}

a .alarma-active-historial:hover { 
    background-image: url('../images/historial.png');
     background-repeat: no-repeat; 
     background-position: 10px 0px; 
}


.alarma-buscar { 
    width: 169px; 
    height: 48px; 
    background-image: url('../images/buscar-alarma.png');
    background-repeat: no-repeat; 
    background-position: 70px 0px;   
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; 
}

a .alarma-buscar:hover{ 
    background-image: url('../images/buscar-alarma.png'); 
    background-repeat: no-repeat; 
    background-position: 10px 0px;  
}


.action-bar {
   background: #757575;
    background: -moz-linear-gradient(top,  #757575 0%, #494949 42%, #262626 51%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#757575), color-stop(42%,#494949), color-stop(51%,#262626), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top,  #757575 0%,#494949 42%,#262626 51%,#000000 100%);
    background: -o-linear-gradient(top,  #757575 0%,#494949 42%,#262626 51%,#000000 100%);
    background: -ms-linear-gradient(top,  #757575 0%,#494949 42%,#262626 51%,#000000 100%);
    background: linear-gradient(to bottom,  #757575 0%,#494949 42%,#262626 51%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#000000',GradientType=0 );
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.contenedor-action >li {
    margin-left: 10px;
    text-align: center;
    display: inline-block;
}

.estado-dispositivos {
    overflow:auto;
    margin: 0 auto;
    width: 210px;
}

.estado-dispositivos > h5 {
    line-height:0px;
}


.estado-car-one {
     background-image: url('../images/car-1.png');
     cursor: pointer;
}


.estado-car-one.clicked {
    background-image: url('../images/car-1-press.png');

}

.estado-car-dos {
    background-image: url('../images/car-2.png');
    cursor: pointer;
}

.estado-car-dos.clicked {
    background-image: url('../images/car-2-press.png');
}

.estado-car-tres {
    background-image: url('../images/car-3.png');
         cursor: pointer;
}

.estado-car-tres.clicked {
    background-image: url('../images/car-3-press.png');
}

.estado-car-cuatro {
    background-image: url('../images/car-4.png');
    cursor: pointer;
}

.estado-car-cuatro.clicked {
    background-image: url('../images/car-4-press.png');
}

.estado-car-one, .estado-car-dos, .estado-car-tres, .estado-car-cuatro {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;;
}


.cantidad-one, .cantidad-dos, .cantidad-tres, .cantidad-cuatro {
    font-size: 11px; 
    position: absolute; 
    text-align: center;
    width: 15px;
}

.cantidad-one{ 
    margin:40px 0 0 38px;
}

.cantidad-dos {
    margin:40px 0 0 43px;
}

.cantidad-tres {
    margin:40px 0 0 42px;
}

.cantidad-cuatro {
    margin:40px 0 0 43px;
}

.conductor-bar {
     margin-bottom: 0px!important;
}

.conductor-bar > li:first-child {
     margin-left: -6px!important;
}

.conductor-bar > li {
     margin-right: 2%!important;
}

.cont_velocidades {
    margin-top:-180px;
}

.timer {
    background-image: url('../images/timer-bg.png');
    background-repeat: no-repeat;
    width: 156px;
    height: 45px;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    color: White;
    padding-top: 18px;
    margin-left: 30px;
    padding-left: 40px;

}

.rounded {
 
    -webkit-border-radius: 5px!important;
    border-radius: 5px!important;
}

.tuerca {
    background-image: url('../images/btn-tuerca.png');
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
    margin-top: 20px;
    cursor: pointer;
}

.tuerca:active  {
    background-image: url('../images/btn-tuerca-hover.png');
}

.no-bar {
    overflow-x:hidden; 
}